body {
    font-family: comic-sans;
    background-color: lightblue;
    margin-top: 5px;
    margin-left: 30px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container
{
    max-width: 800px;
    margin:0 auto;
    color: darkred;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}